* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    background-color: #ffa07a;
    width: 100%;
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

header {
    width: 40%;
    height: auto;
    margin: 0px auto;
}

p {
    width: 40%;
    text-align: center;
    margin: 0px auto;
}

ul {
    border: 1px solid lightsalmon;
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    list-style-type: none;
    
}

ul li {
    text-align: center;
}

ol {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
}

ol li {
    padding-bottom: 10px;

}
